server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
#      globalcors:
#        corsConfigurations:
#          '[/**]':
#            allowedOrigins: "http://localhost:5173"
#            allowedMethods:
#              - GET
#              - POST
#              - PUT
#              - DELETE
#            allowedHeaders: "*"
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**, /api/users/**
        
        - id: catalog-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/catalog/**
          filters:
            - RewritePath=/api/catalog/(?<segment>.*), /api/${segment}
            
        - id: order-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/orders/**
